* {
    border-color: #353535 !important;
    color: #ffffff !important;
}

._29IbETWb5VVDcfk_-GumWz, ._3obgdFz00GvpqpuX8QCsNK   {
    background: #141416 !important;
}

._31N0dvxfpsO6Ur5AKx4O5d, ._3JDs8KEQIXSMn1bTF2ZqJ_{
    background: #141416 !important;
}

._2vkeRJojnV7cb9pMlPHy7d.a35Fm2MurU14xdNybLiZp {
    background: #141416 !important;
}

._2wxsLGNmMLx6sEMLJyn2o9, .ListingLayout-backgroundContainer, ._31N0dvxfpsO6Ur5AKx4O5d, ._3ozFtOe6WpJEMUtxDOIvtU{
    background: #141416 !important;
}

.QscnL9OySMkHhGudEvEya {
    background: transparent;
}

._1gVVmSnHZpkUgVShsn7-ua{
    background: #141416 !important;
}

._3tw__eCCe7j-epNCKGXUKk, ._3YZ-jFfccqhepgq1dDuLEv, ._1gVVmSnHZpkUgVShsn7-ua{
    border-color: #1e1e20 !important;
}

._2jJNpBqXMbbyOiGCElTYxZ, .uI_hDmU5GSiudtABRz_37, .Pbz3gpOA6rvqdYoX_pOjn, ._29lagmmeH1Fb03mLJEq0Dt, ._2M2wOqmeoPVvcSsJ6Po9-V._3287nL7j7epK9JmDC3N1VR, ._2ulKn_zs7Y3LWsOqoFLHPo, ._3YZ-jFfccqhepgq1dDuLEv{
    background: #1e1e20;
    border-radius: 15px;
}

._2baJGEALPiEMZpWB2iWQs7 .public-DraftEditor-content, .DraftEditor-editorContainer, ._2YcMhGs5-uIg9Fj4a9J2Xr, ._3SNMf5ZJL_5F1qxcZkD0Cp, ._17TqawK-44tH0psnHPIhzS, .RQTXfVRnnTF5ont3w58rx, ._2M2wOqmeoPVvcSsJ6Po9-V, ._1gVVmSnHZpkUgVShsn7-ua{
    background: #1e1e20;
    
    
}

.zgT5MfUrDMC54cpiCpZFu, .zgT5MfUrDMC54cpiCpZFu:focus, .zgT5MfUrDMC54cpiCpZFu:hover, ._1DeR7_QiQnu2UK0e2dDfYD {
    background: #1e1e20;
}

input {
    background: #1e1e20 !important;
    
}


._1G4yU68P50vRZ4USXfaceV, ._ZhON3a3vplThB8NFwuJn{
    background: #1e1e20 !important;
}

._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX, ._1G4yU68P50vRZ4USXfaceV, ._ZhON3a3vplThB8NFwuJn, ._2_tDEnGMLxpM6uOa2kaDB3._1XWObl-3b9tPy64oaG6fax {
    border-color: #2b3038;
    border-radius: 15px;
}

._1poyrkZ7g36PawDueRza-J, ._11R7M_VOgKO1RJyRSRErT3, ._1Qs6zz6oqdrQbR7yE_ntfY, .wBtTDilkW_rtT2k5x3eie {
    background: #1e1e20 !important;
    border-color: #2b3038 !important;
    border-radius: 15px;
}


._1oAH8WzvQU6SeYEsM1msMu, .tsl4Q1J90HdQwt_L2rJC9 {
    background:#2b3038;
}

.zgT5MfUrDMC54cpiCpZFu, .zgT5MfUrDMC54cpiCpZFu:focus, .zgT5MfUrDMC54cpiCpZFu:hover, ._1DeR7_QiQnu2UK0e2dDfYD{
    background: #1e1e20 !important;
    border-radius: 15px !important;
}

._2uYY-KeuYHKiwl-9aF0UiL {
    border: none !important;
    box-shadow: none !important;
}

._3jiriKeNer8y0-1r6oWIFM {
    border: none !important;
}
.MSTY2ZpsdupobywLEfx9u {
    background: #141416 !important;
}

button {
    background:#2b3038 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    
}

._1EQJpXY7ExS04odI1YBBlj, ._3gBRFDB5C34UWyxEe_U6mD, .STit0dLageRsa2yR4te_b, ._3WqRAmto46uhALFWnn8-Pa, .kU8ebCMnbXfjCWfqn0WPb{
    border-radius: 15px !important;
}

._3JgI-GOrkmyIeDeyzXdyUD._2CSlKHjH7lsjx0IpjORx14 {
    background: #1e1e20;    
}

a {
    background: transparent !important;
}

._1DeR7_QiQnu2UK0e2dDfYD, ._1DeR7_QiQnu2UK0e2dDfYD {
    border: none !important;
}
