* {
    background-color: #141416 !important;
    color: #ffffff;
    border-color: #1e1e20 !important;
}

.css-1dbjc4n {
    background-color: transparent !important;
}

.r-13qz1uu {
    background-color: transparent !important;
}

.r-vacyoi {
    background-color: #141416 !important;
}

.r-obd0qt {
    background-color: #141416 !important;
}

.r-1pz39u2 {
    background-color: #141416 !important;
}

.r-1777fci {
    background-color: #141416 !important;
}

.r-15ysp7h {
    background-color: #141416 !important;
    color: #ffffff !important;
}

.r-s8bhmr {
    background-color: #141416 !important;
}

.r-bcqeeo {
    background-color: #141416 !important;
    color: #ffffff !important;
}

.r-qo02w8 {
    box-shadow: none;
    border: 1px solid;
}
